<link href="https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:wght@300;400;600&family=Roboto:wght@500&family=Varela+Round&display=swap" rel="stylesheet">;

*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-size: "Poppins",sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e3eb;
}
.container{
    position: relative;
    max-width: 300px;
    border-radius: 12px;
    width: 100%;
    padding:10px 20px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}

.display{
    outline: none;
    border: none;
    text-align: right;
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    /* color: blue; */
}

.buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4,1fr);
}

.buttons button{
    padding: 12px 10px;
    border-radius: 5px;
    border: none;
    background-color:#eee;
    font-size: 20px;
    cursor: pointer;
}

.buttons button:active{
    transform: scale(0.99);
}
.operator{
    color: #2f9fff;
}
